body {
    background-color: black
}
h1{
    color: rgb(94, 40, 87);
    text-align: center;
}
h2{
    color: green;
    font-style: italic;
    text-align: center;
}
p{
    font-family: sans-serif;
    color: white
}
ul{
    text-align: center;
    line-height: 40px;
    color: green

}
ol{
    color: green
}