BODY{
    background-color: rgba(6, 6, 15, 0.103)
}
h1{
    color: #28455e;
    text-align: center;
}
h2{
    color: green;
    font-style: italic;
    text-align: center;
}
p {
    font-family: sans-serif;
}
ul {
    line-height: 40px;
}